<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jcspirat GPT</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1 class="greeting"></h1>
    <form id="form">
        <input type="text" id="user-input" placeholder="What's on your mind?">
        <button type="submit">Submit</button>
    </form>
    <div class="chat-box"></div>

    <div class="settings">
        <label for="mode">Choose a mode:</label>
        <select name="mode" id="mode">
            <option value="standard">Standard</option>
            <option value="catgpt">CatGPT -- Meow's it going?</option>
            <option value="piratgpt">PiratGPT -- Yarr!</option>
        </select>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>